._scroll {
	background-color: rgba($color: #000000, $alpha: 0.95);
	transition: 1s;
	height: 60px;
}

.header {

	position: fixed;
	width: 100%;
	z-index: 5;
		


	.header__container {
		position: relative;
		.row {
			.logo {
				position: relative;
				top: 20px;
				transition: 0.4s;
				.logo__left {
					width: 69px;
					height: 18px;
					font-family: Quicksand;
					font-size: 24px;
					line-height: 58px;
					font-weight: 700;
					text-transform: uppercase;
					color: #ffffff;
				}
				.logo__right {
					width: 44px;
					height: 16px;
					position: relative;
					left: 76px;
					top: 2px;
					opacity: 0.3;
					font-family: "Source Sans Pro";
					font-size: 9px;
					line-height: 10px;
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 0.14em;
					color: #ffffff;
				}
			}
			.menu-body {
				position: relative;
				min-width: 590px;
				display: flex;
				left: 02px;
				top: -15px;
				transition: 0.4s;
				justify-content: flex-end;
				

				li {
					position: relative;
					display: flex;
					justify-content: center;
					font-family: "Source Sans Pro";
					font-size: 16px;
					line-height: 58px;
					font-weight: 600;

					a {
						text-decoration: none;
						color: #fffefe;
						
					}
					
				}

				.l2 {
					margin-left: 25px;
				}
				.l3 {
					margin-left: 24px;
				}
				.l4 {
					margin-left: 23px;
				}
				.l5 {
					margin-left: 23px;
				}
				.l6 {
					margin-left: 23px;
				}
				.linkdec{
					display: none;
				}
				li:hover{
				.linkdec{
					display: block;
					position: absolute;
					top:48px;
					
				}
			}
			
				
				@media (max-width: 767px){
					width:1000px;
					display: flex;
					justify-content: center;
					text-align: center;
					align-content:center;
					
				}
				@media (max-width:587px) {
	
				}
			}
		}
	}
	@media (max-width: 767px) {
		.menu-body {
			display: none;
			background-color: rgba(0,0,0,0.6);
			transition: 1s;
			margin-top: -100px;
			text-align: center;
			height: 100%;
			a {
				font-size: 0px;
			}
			li {
				display: flex;
				justify-content: center;
				align-content: center;
			}
			.l1 {
				margin-left: 20px;
			}
		}
		.menu-body._active {
			display: flex;
			flex-direction: column;
			align-content: flex-center;
			justify-content: center;
			position: relative;
			margin-top: -20px;
			transition: 1s;
			border-radius: 3px;
			
		

			a {
				font-size: 15px;
			}
			@media  (max-width:767.98px){
				height: 500px;
			
			}
			@media (max-width:587px) {
			
				
			}
		}
		.icon-menu {
			//Перенос под мобилки
			display: none;
			@media (max-width: $md3+px) {
				display: block;
				position: absolute;
				top: 28px;
				right: 20px;
				width: 50px;
				height: 38px;
				cursor: pointer;
				z-index: 666;
				background-color: rgba(255, 255, 255, 0.1);
				border-radius: 3px;
				transition: 0.4s;

				span {
					transition: all 0.3s ease 0s;
					top: calc(50% - 1px);
					left: 10px;
					position: absolute;
					width: 30px;
					height: 3px;
					background-color: #fff;
					z-index: 666;
					&:first-child {
						top: 10px;
					}
					&:last-child {
						top: auto;
						bottom: 10px;
					}
				}
				&._active {
					span {
						transform: scale(0);
						&:first-child {
							transform: rotate(-45deg);
							top: calc(50% - 1px);
						}
						&:last-child {
							transform: rotate(45deg);
							bottom: calc(50% - 1px);
						}
					}
				}
			}
		}
	}
}
.menu{
	@media (max-width:768px) {
		display: flex;
		justify-content: center;
		align-items: center;
		.menu-body{
		margin-left: -40px;
		
		

	}
}
}