@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Source Sans Pro";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1 + px) {
		max-width: 970px;
	}
	@media (max-width: $md2 + px) {
		max-width: 750px;
	}
	@media (max-width: $md3+ px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
body {
	overflow-x: hidden;
}
.topcontent {
	width: 100%;
	height: 640px;
	background-image: url(../img/bg_806.png);
	background-size: cover;
	@media (max-width: 991px) {
		height: 1081px;
	}
	@media (max-width: 500px) {
		height: 1107px;
	}
	@media (max-width: 360px) {
		height: 970px;
	}
	._container {
		@media (max-width: 991px) {
			display: flex;
			justify-content: center;
			text-align: center;
		}
		.text {
			position: relative;
			top: 140px;
			left: -2px;
			@media (max-width: 991px) {
				width: 100%;
				display: flex;
				flex-direction: column;
				text-align: center;
			}
			@media (max-width: 500px) {
				justify-content: center;
				align-items: center;
			}
			.text__title {
				font-family: "Source Sans Pro";
				font-size: 14px;
				line-height: 48px;
				font-weight: 700;
				word-spacing: 2.1px;
				text-transform: uppercase;
				letter-spacing: 0.11em;
				color: #008ed6;
				@media (max-width: 991px) {
				}
			}
			.text__general {
				font-family: "Source Sans Pro";
				font-size: 48px;
				line-height: 65px;
				font-weight: 600;
				word-spacing: 5px;
				letter-spacing: 0.3em;
				text-transform: none;
				letter-spacing: normal;
				color: #ffffff;

				p {
					font-family: "Source Sans Pro";
					font-size: 48px;
					font-weight: 600;
					text-transform: none;
					letter-spacing: normal;
					color: #ffffff;
					line-height: 28px;
				}
				@media (max-width: 500px) {
					font-size: 40px;
					p {
						font-size: 40px;
					}
				}
				@media (max-width: 410px) {
					font-size: 30px;
					p {
						font-size: 30px;
						line-height: 1px;
					}
				}
			}
			.text__about {
				max-width: 480px;
				font-family: "Source Sans Pro";
				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				text-transform: none;
				letter-spacing: normal;
				color: #999999;
				margin-top: 20px;
				position: relative;
				top: 15px;

				@media (max-width: 991px) {
					max-width: none;
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				@media (max-width: 500px) {
					display: block;
					width: 480px;
					text-align: center;
				}
				@media (max-width: 481px) {
					width: 320px;
				}
				@media (max-width: 340px) {
					width: 290px;
				}
			}
		}
		.buttons {
			min-width: 342px;
			height: 51px;
			position: absolute;
			top: 339px;
			display: flex;
			justify-content: space-between;
			@media (max-width: 991px) {
				min-width: none;
				display: flex;
				position: relative;
				top: 80px;
				justify-content: center;
				.left {
					margin-right: 50px;
				}
			}
			@media (max-width: 390px) {
				.left {
					margin-right: 20px;
				}
			}

			color: #ffffff;
			.left {
				width: 165px;
				border: 1px solid #414146;
				border-radius: 5px;
				background-color: #008ed6;
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: "Source Sans Pro";
				font-size: 14px;
				line-height: 48px;
				font-weight: 700;
				text-transform: uppercase;
				color: #ffffff;
				cursor: pointer;
			}
			.right {
				width: 160px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #414146;
				border-radius: 5px;
				font-family: "Source Sans Pro";
				font-size: 14px;
				line-height: 48px;
				font-weight: 700;
				text-transform: uppercase;
				color: #ffffff;
				cursor: pointer;
			}
			@media (max-width: 355px) {
				.left {
					width: 150px;
					font-size: 12px;
				}
				.right {
					width: 150px;
					font-size: 12px;
				}
			}
			@media (max-width: 330px) {
				.left {
					margin-right: 10px;
				}
			}
		}
		.devices {
			position: relative;
			left:10px;
			top: -161px;
			display: flex;
			justify-content: flex-end;
			img {
				width: 500px;
				height: 520px;
			}
			@media (max-width: 1183px) {
				display: flex;
				justify-content: flex-end;
				top: -161px;
			}
			@media (max-width: 991px) {
				top: 239px;
				justify-content: center;
			}
			@media (max-width: 733px) {
				width: none;
			}
			@media (max-width: 481px) {
				top: 289px;
				img {
					width: 400px;
					height: 416px;
				}
			}
			@media (max-width: 426px) {
				top: 263px;
			}
			@media (max-width: 410px) {
				top: 318px;
			}
			@media (max-width: 360px) {
				top: 285px;
				img {
					width: 300px;
					height: 312px;
				}
			}
		}
	}
}
.whiteblock {
	position: relative;
	min-height: 1320px;
	display: flex;
	justify-content: center;
	min-width: 0;
	@media (max-width: 1182px) {
		width: 60%;
	}
	@media (max-width: 991px) {
		width: 100%;
		display: block;
	}

	.whiteblock__title {
		display: flex;
		position: relative;
		top: 44px;

		width: 365px;
		height: 100px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h6 {
			position: relative;
			left: 0px;
			top: 3px;
			font-family: "Source Sans Pro";
			font-size: 14px;
			line-height: 48px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #008ed6;
			text-align: center;
		}
		h2 {
			position: relative;
			top: -9px;
			left: 0px;
			font-family: "Source Sans Pro";
			font-size: 36px;
			line-height: 36px;
			font-weight: 600;
			text-transform: none;
			letter-spacing: normal;
			color: #1a1a1a;
			white-space: nowrap;
			@media (max-width: 365px) {
				font-size: 30px;
			}
		}
		img {
			display: flex;
			top: 122px;

			position: absolute;
			align-self: center;
		}
	}

	.whiteblock_kits {
		position: relative;
		left: 25px;
		top: 140px;
		height: 340px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		justify-items: center;
		align-content: center;
		@media (max-width: 1182px) {
			left: 0px;
			top: 100px;
			width: 100%;
			height: 600px;
			flex-wrap: wrap;
		}
		@media (max-width: 991px) {
			width: 100%;
			top: 100px;
			justify-content: center;
			justify-items: flex-start;
		}
		@media (max-width: 559px) {
			height: 1000px;
		}
		@media (max-width:559px) {
		left: 10px;
		}

		.item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			min-width: 229px;
			max-height: 256px;
			min-width: 0;

			.img {
				position: relative;
				bottom: 35px;
				left: 67px;
				width: 90px;
				height: 90px;
				border: 1px solid #909497;
				border-radius: 50px;
				img {
					position: absolute;
					left: 28px;
					top: 35%;
				}
			}
			.title {
				font-family: "Source Sans Pro";
				font-size: 24px;
				line-height: 20px;
				font-weight: 400;
				color: #1a1a1a;
				position: relative;
			}
			p {
				position: relative;
				left: -20px;
				font-size: 18px;
				line-height: 26px;
				color: #999999;
				width: 270px;
				word-spacing: 0.1px;

				span {
					position: relative;
					font-size: 18px;
					line-height: 36px;
					color: #999999;
					top: 5px;
				}
			}
		}
		.whiteblock_kits_item1 {
			.img {
				top: -9px;
				img {
				}
			}
			.title {
				top: 25px;
				left: -25px;
			}
			p {
				top: 30px;
				left: -16px;
			}
			@media (max-width: 1182px) {
				.title {
					left: -20px;
				}
			}
			@media (max-width: 559px) {
				.img {
					top: 10px;
					left: 80px;
				}
				.title {
					left: -5px;
				}
				p {
					left: 0px;
				}
			}
		}
		.whiteblock_kits_item2 {
			.img {
				top: -10px;
				left: 65px;
				img {
					top: 30px;
				}
			}
			.title {
				top: 25px;
				left: -25px;
			}
			p {
				top: 30px;
				left: -15px;
			}
			@media (max-width: 1182px) {
				.title {
					left: 0px;
				}
				.img {
					left: 80px;
				}
				p {
					left: 0px;
				}
			}
			@media (max-width: 559px) {
				margin-top: 10px;
				.img {
					top: 15px;
					left: 80px;
				}
				.title {
					left: -5px;
				}
				p {
					left: 0px;
				}
			}
		}
		.whiteblock_kits_item3 {
			.img {
				top: -5px;
				left: 65px;
				img {
					top: 28px;
					left: 26px;
				}
			}
			.title {
				top: 25px;
				left: -25px;
			}
			p {
				top: 30px;
				left: -15px;
			}
			@media (max-width: 1182px) {
				.title {
					top: 50px;
					left: -15px;
				}
				.img {
					top: 35px;
					left: 65px;
				}
				p {
					top: 50px;
					left: -15px;
				}
			}
			@media (max-width: 559px) {
				margin-top: 10px;
				.img {
					left: 80px;
				}
				.title {
					left: 0px;
				}
				p {
					left: 0px;
				}
			}
		}
		.whiteblock_kits_item4 {
			.img {
				top: -4px;
				left: 65px;
				img {
					left: 35px;
					top: 27px;
				}
			}
			.title {
				top: 25px;
				left: -25px;
			}
			p {
				top: 30px;
				left: -15px;
			}
			@media (max-width: 1182px) {
				.title {
					top: 50px;
					left: 0px;
				}
				.img {
					left: 80px;
					top: 35px;
				}
				p {
					top: 50px;
					left: 0px;
				}
			}
			@media (max-width: 559px){
				margin-top: 20px;
			}
		}
	}
	hr {
		position: relative;
		top: 130px;
		color: #909497;
	}
}
.whiteblock__about {
	left: 0px;
	width: 100%;
	position: relative;
	top: 310px;
	min-height: 980px;
	display: flex;
	@media (max-width: 991px) {
		height: 1380px;
		justify-content: center;
		text-align: center;
	}
	@media (max-width: 449px) {
		height: 1180px;
		top: 390px;
	}
	.row {
		.image {
			img {
				position: relative;
				width: 510px;
				height: 620px;
				top: -130px;
				left: 20px;
				@media (max-width: 1182px) {
					left: -190px;
				}
				@media (max-width: 991px) {
					left: 0%;
					top: 300px;
				}
				@media (max-width: 961px) {
					left: 0px;
				}
				@media (max-width: 449px) {
					width: 350px;
					height: 424px;
					top: 250px;
				}
			}
			@media (max-width: 991px) {
				display: flex;
				justify-content: center;
			}
		}
		.text {
			position: relative;
			top: -88px;
			left: 68px;
			width: 506px;
			height: 384px;

			@media (max-width: 490px) {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			h6 {
				font-family: "Source Sans Pro";
				font-size: 14px;
				line-height: 38px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: #008ed6;
			}
			h1 {
				font-family: "Source Sans Pro";
				position: relative;
				top: -10px;
				left: -1px;
				font-size: 36px;
				font-weight: 600;
				text-transform: none;
				letter-spacing: normal;
				color: #1a1a1a;
				@media (max-width: 400px) {
					font-size: 30px;
				}
				@media (max-width: 330px) {
					font-size: 28px;
				}
			}
			.linii {
				position: relative;
				display: flex;
				justify-content: center;
				height: 2px;
				width: 42px;
				top: 9px;
				left: -1px;
				@media (max-width: 991px) {
					justify-content: center;
				}
			}

			.text {
				position: relative;
				top: 32px;
				left: -1px;
				font-family: "Source Sans Pro";
				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				text-transform: none;
				letter-spacing: normal;
				color: #999999;
				word-spacing: 1px;
				span {
					line-height: 26px;
				}
				@media (max-width: 991px) {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
				@media (max-width: 520px) {
					width: 340px;
				}
				@media (max-width:370px) {
					width: 300px;
				}
			}
			ul {
				font-family: "Source Sans Pro";
				position: relative;
				left: -32px;
				top: -225px;
				word-spacing: 1px;
				li {
					font-size: 18px;
					line-height: 36px;
					font-weight: 400;
					text-transform: none;
					letter-spacing: normal;
					color: #1b1b1b;
					img {
						margin-right: 10px;
					}
				}
				.lil {
					position: relative;
					top: 3px;
					left: -5px;
				}
			}
			@media (max-width: 1182px) {
				top: -700px;
				left: 550px;
			}
			@media (max-width: 960px) {
				left: 0px;
				text-align: center;
			}

			@media (max-width: 1182px) {
				left: 310px;
			}
			@media (max-width: 991px) {
				display: flex;
				flex-direction: column;
				align-items: center;
				top: -1000px;
				left: 0px;
				.linii {
					width: 100%;
				}
				ul {
					top: 40px;
				}
			}
			@media (max-width: 490px) {
				top: -960px;
			}
			@media (max-width: 449px) {
				top: -840px;
			}
		}
	}
}

.graybackground {
	position: relative;
	top: -40px;
	background-color: #f2f2f2;
	.gray {
		background-color: #f2f2f2;
		height: 440px;

		.row {
			.text {
				position: relative;

				h6 {
					font-family: "Source Sans Pro";
					font-size: 14px;
					line-height: 48px;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					color: #008ed6;
				}

				img {
					position: relative;
					top: -9px;
					left: 0px;
					width: 42px;
					height: 2px;
				}

				h1 {
					position: relative;
					top: -14px;
					left: -1px;
					font-family: "Source Sans Pro";
					font-size: 36px;
					font-weight: 600;
					text-transform: none;
					letter-spacing: normal;
					color: #1a1a1a;
				}
				p {
					position: relative;
					top: 5px;
					width: 470px;
					font-family: "Source Sans Pro";
					font-size: 18px;
					line-height: 26px;
					font-weight: 400;

					text-transform: none;
					letter-spacing: normal;
					color: #999999;
				}
				@media (max-width: 991px) {
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: center;
					p {
						width: 100%;
					}
					.img2 {
						width: 100%;
					}
				}
				@media (max-width: 767px) {
					width: 100%;
					display: flex;
					justify-content: center;
				}
			}
			.img {
				position: relative;
				top: -390px;
				left: 475px;
				img {
					width: 710px;
					height: 500px;
					position: relative;
					top: 30px;
					left: 0px;
					@media (max-width: 767px) {
						width: 500px;
						height: 350px;
					}
					@media (max-width: 430px) {
						width: 400px;
						height: 285px;
					}
					@media (max-width: 345px) {
						width: 320px;
						height: 228px;
					}
				}
				@media (max-width: 991px) {
					top: 80px;
					left: 0px;
				}
				@media (max-width: 767px) {
					display: flex;
					justify-content: center;
				}
				@media (max-width: 430px) {
					top: -40px;
				}
				@media (max-width: 345px) {
					top: 0px;
				}
			}
			@media (max-width: 767px) {
				display: block;
			}
		}
		@media (max-width: 991px) {
			height: 860px;
		}
		@media (max-width: 430px) {
			height: 580px;
		}
		@media (max-width: 392px) {
			height: 650px;
		}
		@media (max-width: 345px) {
			height: 670px;
		}
	}
}

.reviews {
	position: relative;
	top: -55px;
	width: 100%;
	height: 640px;
	background-image: url(../img/Warstwa.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.blac {
		width: 100%;
		height: 640px;
		background-color: rgba($color: #000000, $alpha: 0.6);

		._container {
			.text {
				position: relative;
				top: 45px;
				left: 0px;
				h6 {
					position: relative;
					display: flex;
					justify-content: center;
					font-family: "Source Sans Pro";
					font-size: 14px;
					line-height: 48px;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 0.1em;
					color: #008ed6;
				}
				h1 {
					position: relative;
					top: -15px;
					display: flex;
					justify-content: center;
					font-family: "Source Sans Pro";
					font-size: 36px;
					font-weight: 600;
					text-transform: none;
					letter-spacing: normal;
					color: #ffffff;
				}
				.img {
					display: flex;
					justify-content: center;
					position: relative;
					top: 5px;
					left: 0px;
				}
			}

			.sliderr {
				min-width: 0;
				position: relative;
				top: 135px;

				.slick-track {
					display: flex;
				}
				.slick-list {
					overflow: hidden;
				}
				.slick-dots {
					.slick-active {
						background-color: #ffffff;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						position: relative;
						top: 5px;
						margin: 0 10px;
						button {
							display: none;
						}
					}
					position: relative;
					top: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					button {
						font-size: 0px;
						width: 7px;
						height: 7px;
						border: 0.1px solid rgba($color: #a9a9a9, $alpha: 0.2);
						border-radius: 50%;
						color: #373639;
						margin: 0 10px;
					}
					@media (max-width: 523px) {
						top: -30px;
					}
				}

				p {
					font-family: "Source Sans Pro";
					font-size: 24px;
					line-height: 32px;
					font-style: italic;
					font-weight: 400;
					color: #ffffff;
				}
				.img {
					position: relative;
					top: 10px;
				}
				.about {
					display: flex;
					justify-content: flex-start;
					flex-direction: column;
					position: relative;
					left: 80px;
					top: -60px;
					.name {
						font-family: "Source Sans Pro";
						font-size: 16px;
						line-height: 42px;
						font-weight: 400;
						color: #ffffff;
					}
					.discription {
						font-family: "Source Sans Pro";
						font-size: 14px;
						line-height: 26px;
						font-weight: 700;
						color: #ffffff;
					}
				}
			}
		}
	}
}
.backg {
	position: relative;
	top: -55px;
	background-color: #15141a;
	.eye-catcher {
		height: 170px;
		background-color: #15141a;

		.row {
			.left {
				display: flex;
				align-content: center;
				justify-content: center;
				white-space: nowrap;
				position: relative;
				top: 55px;
				p {
					font-family: "Source Sans Pro";
					font-size: 36px;
					line-height: 48px;
					font-weight: 600;
					color: #ffffff;
					span {
						font-weight: 300;
					}
				}
				@media (max-width: 690px) {
					p {
						font-size: 30px;
						span {
							font-size: 30px;
						}
					}
				}
				@media (max-width: 570px) {
					p {
						font-size: 24px;
						span {
							font-size: 24px;
						}
					}
				}
				@media (max-width: 460px) {
					p {
						font-size: 18px;
						span {
							font-size: 16px;
						}
					}
				}
			}
			.right {
				display: flex;
				justify-content: flex-end;
				align-content: center;
				position: relative;
				top: 60px;
				.view {
					width: 160px;
					height: 50px;
					border: 1px solid #414146;
					font-family: "Source Sans Pro";
					font-size: 14px;
					line-height: 48px;
					font-weight: 700;
					text-transform: uppercase;
					color: #ffffff;
					border-radius: 5px;
				}
				.download {
					width: 160px;
					height: 50px;
					background-color: #008ed6;
					font-family: "Source Sans Pro";
					font-size: 14px;
					line-height: 48px;
					font-weight: 700;
					text-transform: uppercase;
					color: #ffffff;
					border-radius: 5px;
					margin-left: 20px;
				}
				@media (max-width: 1182px) {
					justify-content: center;
				}
			}
		}
		@media (max-width: 991px) {
			height: 190px;
		}
		@media (max-width: 1182px){

			height: 190px;
		}
	}
}
.pricing {
	min-height: 720px;
	display: flex;
	flex-direction: column;
	text-align: center;
	position: relative;
	top: -15px;

	h2 {
		font-family: "Source Sans Pro";
		font-size: 36px;
		font-weight: 600;
		text-transform: none;
		letter-spacing: normal;
		color: #1a1a1a;
		position: relative;
		top: -15px;
	}
	h6 {
		font-family: "Source Sans Pro";
		font-size: 14px;
		line-height: 48px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #008ed6;
	}
	img {
		position: relative;
		top: -7px;
	}
	.kits {
		position: relative;
		top: 60px;
		display: flex;
		justify-content: space-between;
		.kit {
			border: 1px solid #909497;
			border-radius: 2px;
			width: 271px;
			height: 491px;
			@media (max-width: 1182px) {
				height: 505px;
			}
			@media (max-width: 991px) {
				height: 530px;
			}
			@media (max-width: 865px) {
				height: 450px;
			}
			@media (max-width: 767px) {
				border: 0px;
			}
			h1 {
				font-family: "Source Sans Pro";
				font-size: 24px;
				line-height: 20px;
				font-weight: 700;
				text-transform: uppercase;
				color: #1a1a1a;
				position: relative;
				top: 25px;
			}
			.price {
				position: relative;
				top: 40px;
				height: 151px;
				color: #999999;
				font-family: "Source Sans Pro";
				font-size: 18px;
				line-height: 28px;
				font-weight: 400;
				text-align: center;
				padding-top: 50px;
				padding-right: 10px;
				border-top: 1px solid #909497;
				border-bottom: 1px solid #909497;

				.dollar {
					font-family: "Source Sans Pro";
					font-size: 48px;
					line-height: 20px;
					font-weight: 600;
					color: #1a1a1a;
				}
				.number {
					font-family: "Source Sans Pro";
					font-size: 60px;
					line-height: 20px;
					font-weight: 600;
					color: #1a1a1a;
				}
			}
			.disc {
				padding-right: 10px;
				padding-left: 10px;
				p {
					text-align: center;
					font-family: "Source Sans Pro";
					font-size: 18px;
					line-height: 26px;
					font-weight: 400;
					color: #999999;
					position: relative;
					top: 85px;
					a {
						color: #999999;
						cursor: pointer;
					}
				}
				button {
					font-family: "Source Sans Pro";
					font-size: 14px;
					line-height: 48px;
					font-weight: 700;
					text-transform: uppercase;
					color: #008ed6;
					width: 162px;
					height: 52px;
					color: #008ed6;
					border-radius: 5px;
					position: relative;
					top: 110px;
					border: 1px solid #909497;
				}
			}
			@media (max-width: 991px) {
				justify-content: center;
				flex-wrap: wrap;
				flex-grow: 1;
			}
		}
		.kit:hover {
			.price {
				background-color: #008ed6;
				color: white;
				transition: 0.5s;
				.dollar {
					color: #fff;
				}
				.number {
					color: #fff;
				}
			}
			h1 {
				color: #008ed6;
			}
			button {
				color: white;
				background-color: #008ed6;
				transition: 0.5s;
			}
			.disc {
				a {
					color: #008ed6;
					transition: 0.4s;
				}
			}
		}

		@media (max-width: 1192px) {
			margin-left: -30px;
			gap: 30px;
		}
		@media (max-width: 865px) {
			flex-wrap: wrap;
			margin-left: 0px;
		}
		
	}
}
.contact {
	position: relative;
	height: 720px;
	text-align: center;
	padding-top: 45px;
	@media (max-width:570px) {
		height: 800px;
	}
	@media (max-width: 493px) {
		height: 920px;
	}
	@media (max-width: 358px) {
		height: 1020px;
	}
	h6 {
		font-family: "Source Sans Pro";
		font-size: 14px;
		line-height: 48px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #008ed6;
	}
	h1 {
		font-family: "Source Sans Pro";
		font-size: 36px;
		font-weight: 600;
		text-transform: none;
		letter-spacing: normal;
		color: #1a1a1a;
		position: relative;
		top: -15px;
	}
	.img {
		position: relative;
		top: -7px;
	}
	.flex_container {
		top: 40px;
		position: relative;
		justify-content: space-between;
		display: flex;

		.phone {
			white-space: nowrap;
			position: relative;
			display: flex;
			flex-direction: column;
			align-content: center;
			a {
				font-family: "Source Sans Pro";
				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				color: #999999;
				text-decoration: none;
				cursor: pointer;
				position: relative;
				top: 28px;
				left: -4px;
			}
			a:hover {
				background-color: #008ed6;
				color: #ededed;
				transition: 0.5s;
				border-radius: 5px;
			}
			img {
				position: relative;
				top: 9px;
				left: -2px;
				width: 19px;
				height: 33px;
			}
		}
		.geo {
			white-space: nowrap;
			margin-top: 5px;
			@media (max-width: 358px) {
				margin-top: 50px;
			}
			a {
				position: relative;
				top: 25px;
				display: flex;
				flex-direction: column;
				font-family: "Source Sans Pro";
				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				color: #999999;
				text-decoration: none;
			}
			a:hover {
				background-color: #008ed6;
				color: #ededed;
				transition: 0.5s;
				border-radius: 5px;
			}
		}
		.mail {
			@media (max-width: 358px) {
				margin-top: 40px;
			}
			display: flex;
			flex-direction: column;
			position: relative;
			margin-top: 5px;
			img {
				position: relative;
				top: 10px;
				width: 33px;
				height: 23px;
			}
			a {
				position: relative;
				top: 35px;
				font-family: "Source Sans Pro";
				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				color: #999999;
				text-decoration: none;
			}
			a:hover {
				background-color: #008ed6;
				color: #ededed;
				transition: 0.5s;
				border-radius: 5px;
			}
		}
	}
}
.map {
	._container {
		position: relative;
		display: flex;
		justify-content: center;
		.registration {
			position: absolute;
			top: -297px;
			background-color: #15141a;
			max-width: 770px;
			min-height: 360px;
			z-index: 10;
			@media (max-width: 700px) {
				height: 450px;
			}
			@media (max-width: 493px) {
				height: 560px;
				top: -397px;
			}
			form {
				.row {
					.left {
						position: relative;
						top: 40px;
						input {
							width: 300px;
							height: 50px;
							background-color: #15141a;
							border: 1px solid rgba(255, 255, 255, 0.2);
							margin-top: 20px;
							margin-left: 65px;
							border-radius: 5px;
							opacity: 0.2;
							font-family: "Source Sans Pro";
							font-size: 14px;
							line-height: 48px;
							font-weight: 700;
							text-transform: uppercase;
							color: #ffffff;
							padding-left: 15px;
						}
						@media (max-width: 700px) {
							display: flex;
							justify-content: center;
							input {
								width: 200px;
								margin-left: 10px;
							}
						}
						@media (max-width: 650px) {
							input {
								width: 150px;
							}
						}
						@media (max-width: 500px) {
							flex-direction: column;
							justify-content: center;
							align-items: center;
						}
					}
					.right {
						textarea {
							resize: none;
							position: relative;
							top: 60px;
							left: -10px;
							width: 300px;
							height: 190px;
							background-color: #15141a;
							border: 1px solid rgba(255, 255, 255, 0.2);
							border-radius: 5px;
							font-family: "Source Sans Pro";
							font-size: 14px;
							padding-top: 12px;
							font-weight: 700;
							text-transform: uppercase;
							color: #ffffff;
							padding-left: 18px;
						}
						button {
							position: relative;
							top: 77px;
							left: 130px;
							width: 160px;
							height: 50px;
							background-color: #008ed6;
							box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
							font-family: "Source Sans Pro";
							font-size: 14px;
							line-height: 48px;
							font-weight: 700;
							text-transform: uppercase;
							color: #fff;
							border-radius: 5px;
						}
						@media (max-width: 700px) {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							textarea {
								top: 60px;
								left: 0px;
								width: 300px;
							}
							button {
								top: 100px;
								left: 0px;
							}
						}
						@media (max-width: 500px) {
							textarea {
								top: 80px;
							}
						}
					}
				}
			}
			@media (max-width:767px) {
				width: 100%;
			}
		}
	}
	iframe {
		z-index: -1;
		margin-bottom: -10px;
		@media (max-width: 493px) {
			height: 600px;
		}
	}
}
